<div class="relative inline-flex items-center justify-center w-11 h-11 text-3xl overflow-hidden rounded-full">
    <span class="font-medium text-gray-600 dark:text-gray-300"><%= initials %></span>
</div>