<% if flash.any? %>
  <div data-controller='flash-message' id='flash-message'>
    <div class='py-2 justify-items-stretch'>
      <% flash.each do |type, message| %>
        <%= render FlashMessage::Component.new(type: type, message: message) %>
      <% end %>
    </div>
  </div>
<% end %>